@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

//Properties
$font : 'Oswald', sans-serif;

//Main color
$orange: #FF4800;
$red: #FF2200;
$black: #121212;
$black-bg: #000000;
$yellow: #EACA41;

//Secondary Color
$white: #ffffff;
$blend-white: #d9d9d9;

body{
    font-family: $font;
}

// Navbar
nav.nav-container{
    padding: 1em 1em;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1;
    line-height: 60px;
    background: rgba(0, 0, 0, 0.7);

    ul.nav-li{
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        padding-top: 5.7em;
        // padding-top: 7em;
        transform: translateY(-100%);
        transition: 1s;
        li{
           text-align: center;
            line-height: 100px;
            background: rgba(0, 0, 0, 0.7);
            list-style: none;
        }
        li a{
            // margin: 0 auto;
            
            font-size: 20px;
            text-decoration: none;
            color: $white;
        }
        li:hover{
            background: $orange;
            transition: 1s;
        }
    }

    div.navbar-toggle{
        display: grid !important;
        height: min-content;
        cursor: pointer;
        margin: auto 0;

        span.bar{
            border-radius: 20%;
            margin-bottom: 5px;
            background: $white;
            width: 30px;
            height: 5px;
            transition: .6s;
        }
    }

    //Activate when click
    ul.nav-li.open{
        transform: translateY(0);
    }

    // Burger Menu will animate
    div.navbar-toggle.active .bar:nth-child(1){
        position: absolute;
        transform: rotate(45deg);
        transition: .6s;
    }
    div.navbar-toggle.active .bar:nth-child(2){
        display: none;
        transition: .6s;
    }
    div.navbar-toggle.active .bar:nth-child(3){
        transform: rotate(-45deg);
        transition: .6s;
    }
}


//Hero - section
div.hero-wrapper{
    width: 100%;
    section.hero-container{
        padding: 12em 1em;
        background-image: linear-gradient(to top,rgba(0, 0, 0, 0.404)50%, rgba(0, 0, 0, 0.26)90%),url(/src/img/hero-img.jpg);
        background-repeat: no-repeat;
        height: 800px;
        background-size: cover;
        div.left-content{
            text-align: center;
            color: $white;
            div.main-header{
                h1{
                    font-size: 46px;
                    text-transform: uppercase;
                }
            }
            div.main-desc{
                padding-top: 3em;
                p{
                    font-size: 16px;
                    text-transform: uppercase;
                }
            }

            div.main-cta{
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding-top: 5em;
                gap: 1em;
                div.btn1{
                    a{
                        padding: 1em;
                        border-radius: 5px;
                        background: $yellow;
                        width: 100%;
                        display: inline-block;
                        font-weight: bold;
                        text-transform: uppercase;
                        color: $black;
                        text-decoration: none;
                    }
                    a:hover{
                        background: #97842e;
                        transition: .7s;
                    }
                }
                div.btn2{
                    a{
                        padding: 1em;
                        border-radius: 5px;
                        border: 2px solid #ffffff;
                        width: 100%;
                        display: inline-block;
                        font-weight: bold;
                        text-transform: uppercase;
                        color: $white;
                        text-decoration: none;
                    }
                    a:hover{
                        background: #c73a02;
                        transition: .7s;
                    }
                }
            }
        }
    }
}

// Brand Content
div.brand-wrapper{
    background: $black-bg;
    section.brand-container{
        padding: 4em 1em;
        div.main-header{
            h1{
                color: $white;
                text-transform: uppercase;
            }
        }
        div.main-desc{
            p{
                color: $white;
         
                text-transform: uppercase;
            }
        }

        //Box Brand
        div.box-container{
            padding-top: 4em;
            div.box-brand{
                cursor: pointer;
                margin-bottom: 2em;
                img{
                    width: 100%;
                }
            }
        }

        // Patch Brand
        div.patch-container{
            // padding-top: 1em;
            div.patch-brand{
                background: $black;
                margin-bottom: 2em;
                img{
                    width: 100%;
                }
                div.patch-desc{
                    padding: 1em;
                    color: $white;
                    h1{
                        font-size: 24px;
                    }
                }
                div.patch-btn{
                    padding: 1em;
                   
                    button.addcart-btn{
                        cursor: pointer;
                        background: $yellow;
                        color: $black;
                        padding: 1.4em;
                        border: none;
                        text-transform: uppercase;
                        font-weight: bold;
                        border-radius: 6px;
                    }
                    button.addcart-btn:hover{
                        background: #97842e;
                        transition: .7s;
                    }
                }
            }
        }
    }
}

// Apparel Section
div.apparel-wrapper{
    background: $black-bg;
    section.apparel-container{
        padding: 1em 1em;
        color: $white;
        div.apparel-brand{
            padding-top: 4em;
            div.apparel-img{
                img{
                    width: 100%;
                }
            }
            div.apparel-desc{
                margin-bottom: 3em;
                p{
                    font-size: 14px;
                }
            }
            div.size-selection{
                padding: 1em;
                background: $yellow;
                color: $black;
                font-weight: bold;
                margin: 0 auto;
                display: grid;
                grid-template-columns: 1fr 2fr 1fr;
                gap: .6em;
                label{
                    display: flex;
                    align-items: center;
                    
                    font-size: 12px;
                    margin: 0 auto;
                }
                select.drop-select{
                    font-family: $font;
                    width: 100%;
                    text-align: center;
                    padding: .7em;
                }
                button.buy-btn{
                    border: #000000 1px solid;
                    padding: .7em;
                    border-radius: 6px;
                    background: $orange;
                    font-family: $font;
                    width: 100%;
                    color: $white;
                    cursor: pointer;
             
                }
                button.buy-btn:hover{
                    background: #c73a02;
                    transition: .7s;
                }
            }
        }
    }
}

//Game components Section
div.components-wrapper{
    background: $black-bg;
    section.components-container{
        padding: 4em 1em 6em;
        color: $white;
        div.box-components{
            margin-top: 4em;
            background: $black;
            padding: 2em;
            div.head-components{
                text-align: center;
                h1{
                    font-size: 22px;
                    color: $white;
                }
            }
            div.components-img{
                margin-top: 1em;
                img{
                    width: 100%;
                }
            }
            div.components-desc{
                margin-top: 1em;
            }
            div.view{
                padding-top: 2em;
                button.btn-view{
                    cursor: pointer;
                    font-weight: bold;
                    font-size: 18px;
                    background: $red;
                    color: $white;
                    border: none;
                    padding: 1em;
                    width: 100%;
                }
                button.btn-view:hover{
                    background: #c01e05;
                    transition: .7s;
                }
            }

        }
    }
}

//game wrapper
div.game-wrapper{
    background: $blend-white;
    section.game-container{
        padding: 1em;
        div.main-header{
            div.sub-head{
                font-size: 18px;
                background: $black-bg;
                padding: .7em;
                color: $orange;
            }
        }
        div.main-desc{
            h1{
                font-size: 24px;
                color: $black;
            }
        }
        div.thebasics-container{
            padding-top: 3em;
        }
        div.right-content{
            grid-area: thebasics;
            div.game-text{
                padding-top: 3em;
                p{
                    font-size: 14px;
                    color: $black;
                }
            }
            div.game-desc{
                padding-top: 1em;
                p{
                    font-size: 14px;
                    color: $black;
                }
            }
        }
    }
}

//Operational Wrapper
div.operation-wrapper{
    background: $blend-white;
    section.operation-container{
        padding: 0 1em 4em;
        div.left-content{
            div.main-header{
                div.sub-head{
                    font-size: 18px;
                    background: $black-bg;
                    padding: .7em;
                    color: $orange;
                    h1{
                        color: $orange;
                    }
                }
            }
            padding-top: 2em;
            div.operational-desc{
                padding-top: 2em;
                p{
                    font-size: 14px;
                }
            }

            div.red-notice{
                margin-top: 2em;
                padding: .7em;
                background: $red;
                p{
                    font-weight: bold;
                    font-size: 16px;
                }
            }
        }
        div.right-content{
            padding-top: 2em;
            div.card-operational{
                padding: .7em;
                margin-bottom: 1.4em;
                color: $white;
                background: $black-bg;
                border-top: $orange solid 10px;
                div.head-op{
                    h1{
                        color: $orange;
                    }
                }
                div.op-desc1{
                    padding-top: 1em;
                    h5{
                        color: $orange;
                        margin-bottom: .7em;
                    }
                    p{
                        font-size: 14px;
                    }
                }
                div.op-desc2{
                    padding-top: 2em;
                    h5{
                        color: $orange;
                        margin-bottom: .7em;
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
            
        }
    }
}

// Footer Wrapper
div.footer-wrapper{
    background: $black-bg;
    footer.footer-container{
        color: $white;

        padding: 4em 1em;
    
        div.left-foot{
            display: grid;
            grid-template-columns: 1fr 1fr;

            div.merch-li{
                padding-top: 1em;
                line-height: 3em;
                h1{
                    font-size: 20px;
                }
                ul{
                    li{
                        list-style: none;
                        a{
                            text-decoration: none;
                            color: $white;
                        }
                    }
                }
            }
        }
        div.right-foot{
            padding-top: 4em;
            ul{
                display: flex;
                li{
                    margin: 0 auto;
                    list-style: none;
                    a{
                        font-size: 20px;
                        text-decoration: none;
                        color: $white;
                    }
                }
            }
        }
        div.social-container{
            display: flex;
            padding: 4em 3em;
            i{
                font-size: 1.7em;
              
            }
            a{
                
                margin: 0 auto;
                text-decoration: none;
                list-style: none;
                color: $white;
            }
        }
        div.copy-section{
            padding-top: 2em;
            text-align: center;
        }
    }
}



// Tablet View
@media only screen and (min-width: 768px){
    div.nav-wrapper{
        nav.nav-container{
            div.navbar-toggle{
                span.bar{
                    display: none;
                }
            }

            ul.nav-li{
                transform: none;
                position: fixed;
                display: flex;
                justify-content: right;
                padding: 0;
                right: 0;

                li{
                  padding: 0 1em;
                    
                  background: none;
                }
            }
        }
    }

    //Hero - section
    div.hero-wrapper{
        section.hero-container{
            div.left-content{
                padding: 0 4em;
                div.main-header{
                    h1{
                        font-size: 52px;
                    }
                }
                div.main-desc{
                    p{
                        font-size: 16px;
                    }
                }
                div.main-cta{
                    div.btn1{
                        a{
                            padding: 1.3em;   
                        }
                    }
                    div.btn2{
                        a{
                            padding: 1.3em;
                        }
                    }
                }
            }
        }
    }

    //Brand - Section
    div.brand-wrapper{
        section.brand-container{
            div.box-container{
                display: grid;
                gap: 1em;
                grid-template-columns: 1fr 1fr 1fr;
            }
            div.patch-container{
                display: grid;
                gap: 1em;
                grid-template-columns: 1fr 1fr 1fr;
                div.patch-brand{
                    div.patch-desc{
                        p{
                            font-size: 13px;
                        }
                        h1{
                            font-size: 18px;
                        }
                        p.price{
                            margin-top: 1em;
                            font-size: 16px;
                        }
                    }
                    div.patch-btn{
                        button.addcart-btn{
                            width: 100%;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }

//Apparel section
div.apparel-wrapper{
    section.apparel-container{
        div.brand-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        }

    }
}

//components Section
div.components-wrapper{
    section.components-container{
        div.boxcomponents-container{
            display: grid;
           grid-template-columns: 1fr 1fr;
           gap: 1em;
        }
     
    }
}

//game wrapper
div.game-wrapper{
    background: $blend-white;
    section.game-container{
        padding: 1em;
        div.thebasics-container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1em;
            grid-template-areas: "img thebasics";
        }
        div.right-content{
            grid-area: thebasics;
        }
        div.left-content{
            grid-area: img;
            background: url(/src/img/the-basics.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

//Operational wrapper
div.operation-wrapper{
    section.operation-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }
}

// Footer wrapper
div.footer-wrapper{
    footer.footer-container{
        div.left-foot{
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}
}


//826 view
@media only screen and (min-width: 826px){
    div.hero-wrapper{
        section.hero-container{
            div.main-cta{
                width: 500px;
                margin: 0 auto;
            }
        }
    }
}

//1200 view
@media only screen and (min-width: 1200px){
    div.nav-wrapper{
        nav.nav-container{
            padding: 1em 60px;
         ul.nav-li{
            padding: 0 60px;
         }
        }
     
    }

//Hero section
    div.hero-wrapper{
        section.hero-container{
            margin: 0 auto;
            padding: 14em 60px;
            div.left-content{
                margin: 0 auto;
                width: 1200px;
                div.main-header{
                    h1{
                        font-size: 62px;
                    }
                }
                div.main-desc{
                    p{
                        font-size: 16px;
                    }
                }
            }
        }
       
    }

//brand section
div.brand-wrapper{
    section.brand-container{
        margin: 0 auto;
        padding: 4em 60px;
        div.main-header{
            h1{
                font-size: 32px;
            }
        }
        div.main-desc{
            p{
                font-size: 20px;
            }
        }
        div.patch-container{
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
     }
    }

//apparel section
div.apparel-wrapper{
    section.apparel-container{
        margin: 0 auto;
        padding: 4em 60px;
        div.main-header{
            h1{
                font-size: 32px;
            }
        }
        div.main-desc{
            p{
                font-size: 20px;
            }
         }
        }
        div.brand-container{
            div.apparel-brand{
                div.apparel-desc{
                    h1{
                        font-size: 30px;
                    }
                    p{
                        font-size: 16px;
                    }
                }
                div.size-selection{
                    label{
                        font-size: 18px;
                    }
                }
                select{
                    font-size: 18px;
                }
                button.buy-btn{
                    font-size: 18px;
                }
            }
        }
    }

//components section
div.components-wrapper{
    section.components-container{
        margin: 0 auto;
        padding: 4em 60px;
        div.main-header{
            h1{
                font-size: 32px;
            }
        }
        div.main-desc{
            p{
                font-size: 20px;
            }
         }
        div.boxcomponents-container{
            grid-template-columns: 1fr 1fr 1fr 1fr;
            div.box-components{
                div.head-components{
                    h1{
                        font-size: 17px;
                    }
                }
                div.components-desc{
                    p{
                        font-size: 14px;
                    }
                }
            }
        }
        }
    }

//game section
div.game-wrapper{
    section.game-container{
        margin: 0 auto;
        padding: 4em 60px;
        div.thebasics-container{
            div.right-content{
                div.main-header{
                    h3{
                        font-size: 24px;
                    }
                    div.sub-head{
                        padding: .3em;
                    }
                    h1{
                        font-size: 48px;
                    }
                }
                div.main-desc{
                    h1{
                        font-size: 42px;
                    }
                 }
                 div.game-text{
                    p{
                        font-size: 18px;
                    }
                 }
                 div.game-desc{
                    padding-top: 3em;
                    p{
                        font-size: 18px;
                    }
                 }
            }
        }
        }
    }

//game section
div.operation-wrapper{
    section.operation-container{
        margin: 0 auto;
        padding: 4em 60px;
        div.left-content{
            div.main-header{
                h3{
                    font-size: 24px;
                }
                div.sub-head{
                    padding: .3em;
                }
                h1{
                    font-size: 48px;
                }
            }
            div.operational-desc{
                p{
                    font-size: 18px;
                }
            }
            div.red-notice{
                p{
                    font-size: 20px;
                }
            }
        }
        div.right-content{
            div.card-operational{
                div.head-op{
                    h1{
                        font-size: 27px;
                    }
                }
                div.op-desc1{
                    h5{
                        font-size: 20px;
                    }
                    p{
                        font-size: 16px;
                    }
                    
                }
            }
        }
      }
    }


//footer section
div.footer-wrapper{
    footer.footer-container{
        // margin: 0 auto;
        padding: 4em 60px;
        div.foot1-container{
            display: grid;
            grid-template-columns: "brand support";
            div.left-foot{
                grid-area: support;
            }
            // div.right-foot{
            //     grid-area: brand;
            // }
        }
        }
    }

}
