@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Oswald", sans-serif;
}

nav.nav-container {
  padding: 1em 1em;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1;
  line-height: 60px;
  background: rgba(0, 0, 0, 0.7);
}
nav.nav-container ul.nav-li {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  padding-top: 5.7em;
  transform: translateY(-100%);
  transition: 1s;
}
nav.nav-container ul.nav-li li {
  text-align: center;
  line-height: 100px;
  background: rgba(0, 0, 0, 0.7);
  list-style: none;
}
nav.nav-container ul.nav-li li a {
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
}
nav.nav-container ul.nav-li li:hover {
  background: #FF4800;
  transition: 1s;
}
nav.nav-container div.navbar-toggle {
  display: grid !important;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  cursor: pointer;
  margin: auto 0;
}
nav.nav-container div.navbar-toggle span.bar {
  border-radius: 20%;
  margin-bottom: 5px;
  background: #ffffff;
  width: 30px;
  height: 5px;
  transition: 0.6s;
}
nav.nav-container ul.nav-li.open {
  transform: translateY(0);
}
nav.nav-container div.navbar-toggle.active .bar:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
  transition: 0.6s;
}
nav.nav-container div.navbar-toggle.active .bar:nth-child(2) {
  display: none;
  transition: 0.6s;
}
nav.nav-container div.navbar-toggle.active .bar:nth-child(3) {
  transform: rotate(-45deg);
  transition: 0.6s;
}

div.hero-wrapper {
  width: 100%;
}
div.hero-wrapper section.hero-container {
  padding: 12em 1em;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.404) 50%, rgba(0, 0, 0, 0.26) 90%), url(/src/img/hero-img.jpg);
  background-repeat: no-repeat;
  height: 800px;
  background-size: cover;
}
div.hero-wrapper section.hero-container div.left-content {
  text-align: center;
  color: #ffffff;
}
div.hero-wrapper section.hero-container div.left-content div.main-header h1 {
  font-size: 46px;
  text-transform: uppercase;
}
div.hero-wrapper section.hero-container div.left-content div.main-desc {
  padding-top: 3em;
}
div.hero-wrapper section.hero-container div.left-content div.main-desc p {
  font-size: 16px;
  text-transform: uppercase;
}
div.hero-wrapper section.hero-container div.left-content div.main-cta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 5em;
  gap: 1em;
}
div.hero-wrapper section.hero-container div.left-content div.main-cta div.btn1 a {
  padding: 1em;
  border-radius: 5px;
  background: #EACA41;
  width: 100%;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  color: #121212;
  text-decoration: none;
}
div.hero-wrapper section.hero-container div.left-content div.main-cta div.btn2 a {
  padding: 1em;
  border-radius: 5px;
  border: 2px solid #ffffff;
  width: 100%;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

div.brand-wrapper {
  background: #000000;
}
div.brand-wrapper section.brand-container {
  padding: 4em 1em;
}
div.brand-wrapper section.brand-container div.main-header h1 {
  color: #ffffff;
  text-transform: uppercase;
}
div.brand-wrapper section.brand-container div.main-desc p {
  color: #ffffff;
  text-transform: uppercase;
}
div.brand-wrapper section.brand-container div.box-container {
  padding-top: 4em;
}
div.brand-wrapper section.brand-container div.box-container div.box-brand {
  cursor: pointer;
  margin-bottom: 2em;
}
div.brand-wrapper section.brand-container div.box-container div.box-brand img {
  width: 100%;
}
div.brand-wrapper section.brand-container div.patch-container {
  padding-top: 4em;
}
div.brand-wrapper section.brand-container div.patch-container div.patch-brand {
  background: #121212;
  margin-bottom: 2em;
}
div.brand-wrapper section.brand-container div.patch-container div.patch-brand img {
  width: 100%;
}
div.brand-wrapper section.brand-container div.patch-container div.patch-brand div.patch-desc {
  padding: 1em;
  color: #ffffff;
}
div.brand-wrapper section.brand-container div.patch-container div.patch-brand div.patch-desc h1 {
  font-size: 24px;
}
div.brand-wrapper section.brand-container div.patch-container div.patch-brand div.patch-btn {
  padding: 1em;
}
div.brand-wrapper section.brand-container div.patch-container div.patch-brand div.patch-btn button.addcart-btn {
  cursor: pointer;
  background: #EACA41;
  color: #121212;
  padding: 1.4em;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 6px;
}
div.brand-wrapper section.brand-container div.patch-container div.patch-brand div.patch-btn button.addcart-btn:hover {
  background: #b49d36;
  transition: 0.6s;
}

div.apparel-wrapper {
  background: #000000;
}
div.apparel-wrapper section.apparel-container {
  padding: 4em 1em;
  color: #ffffff;
}
div.apparel-wrapper section.apparel-container div.apparel-brand {
  padding-top: 4em;
}
div.apparel-wrapper section.apparel-container div.apparel-brand div.apparel-img img {
  width: 100%;
}
div.apparel-wrapper section.apparel-container div.apparel-brand div.apparel-desc {
  margin-bottom: 3em;
}
div.apparel-wrapper section.apparel-container div.apparel-brand div.apparel-desc p {
  font-size: 14px;
}
div.apparel-wrapper section.apparel-container div.apparel-brand div.size-selection {
  padding: 1em;
  background: #EACA41;
  color: #121212;
  font-weight: bold;
}
div.apparel-wrapper section.apparel-container div.apparel-brand div.size-selection label {
  font-size: 14px;
}
div.apparel-wrapper section.apparel-container div.apparel-brand div.size-selection select.drop-select {
  font-family: "Oswald", sans-serif;
  width: 40%;
  padding: 0.7em;
}
div.apparel-wrapper section.apparel-container div.apparel-brand div.size-selection button.buy-btn {
  border: #000000 1px solid;
  padding: 0.7em;
  border-radius: 6px;
  background: #FF4800;
  font-family: "Oswald", sans-serif;
  width: 20%;
  color: #ffffff;
  cursor: pointer;
}
div.apparel-wrapper section.apparel-container div.apparel-brand div.size-selection button.buy-btn:hover {
  background: #c73a02;
  transition: 0.6s;
}

div.components-wrapper {
  background: #000000;
}
div.components-wrapper section.components-container {
  padding: 0 1em 6em;
  color: #ffffff;
}
div.components-wrapper section.components-container div.box-components {
  margin-top: 4em;
  background: #121212;
  padding: 2em;
}
div.components-wrapper section.components-container div.box-components div.head-components {
  text-align: center;
}
div.components-wrapper section.components-container div.box-components div.head-components h1 {
  font-size: 22px;
}
div.components-wrapper section.components-container div.box-components div.components-img {
  margin-top: 1em;
}
div.components-wrapper section.components-container div.box-components div.components-img img {
  width: 100%;
}
div.components-wrapper section.components-container div.box-components div.components-desc {
  margin-top: 1em;
}
div.components-wrapper section.components-container div.box-components div.view {
  padding-top: 2em;
}
div.components-wrapper section.components-container div.box-components div.view button.btn-view {
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  background: #FF2200;
  color: #ffffff;
  border: none;
  padding: 1em;
  width: 100%;
}
div.components-wrapper section.components-container div.box-components div.view button.btn-view:hover {
  background: #c01e05;
  transition: 0.7s;
}

@media only screen and (min-width: 768px) {
  div.nav-wrapper nav.nav-container div.navbar-toggle span.bar {
    display: none;
  }
  div.nav-wrapper nav.nav-container ul.nav-li {
    transform: none;
    position: fixed;
    display: flex;
    justify-content: right;
    padding: 0;
    right: 0;
  }
  div.nav-wrapper nav.nav-container ul.nav-li li {
    padding: 0 1em;
    background: none;
  }
}/*# sourceMappingURL=style.css.map */