@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

//Properties
$font : 'Oswald', sans-serif;

//Main color
$orange: #FF4800;
$red: #FF2200;
$black: #121212;
$black-bg: #000000;
$yellow: #EACA41;

//Secondary Color
$white: #ffffff;
$blend-white: #d9d9d9;

body{
    font-family: $font;
}

// Navbar
nav.nav-container{
    padding: 1em 1em;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1;
    line-height: 60px;
    background: rgba(0, 0, 0, 0.7);

    ul.nav-li{
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        padding-top: 5.7em;
        // padding-top: 7em;
        transform: translateY(-100%);
        transition: 1s;
        li{
           text-align: center;
            line-height: 100px;
            background: rgba(0, 0, 0, 0.7);
            list-style: none;
        }
        li a{
            // margin: 0 auto;
            
            font-size: 20px;
            text-decoration: none;
            color: $white;
        }
        li:hover{
            background: $orange;
            transition: 1s;
        }
    }

    div.navbar-toggle{
        display: grid !important;
        height: min-content;
        cursor: pointer;
        margin: auto 0;

        span.bar{
            border-radius: 20%;
            margin-bottom: 5px;
            background: $white;
            width: 30px;
            height: 5px;
            transition: .6s;
        }
    }

    //Activate when click
    ul.nav-li.open{
        transform: translateY(0);
    }

    // Burger Menu will animate
    div.navbar-toggle.active .bar:nth-child(1){
        position: absolute;
        transform: rotate(45deg);
        transition: .6s;
    }
    div.navbar-toggle.active .bar:nth-child(2){
        display: none;
        transition: .6s;
    }
    div.navbar-toggle.active .bar:nth-child(3){
        transform: rotate(-45deg);
        transition: .6s;
    }
}


//Hero - section
div.hero-wrapper{
    width: 100%;
    section.hero-container{
        padding: 12em 1em;
        background-image: linear-gradient(to top,rgba(0, 0, 0, 0.404)50%, rgba(0, 0, 0, 0.26)90%),url(/src/img/hero-img.jpg);
        background-repeat: no-repeat;
        height: 800px;
        background-size: cover;
        div.left-content{
            text-align: center;
            color: $white;
            div.main-header{
                h1{
                    font-size: 46px;
                    text-transform: uppercase;
                }
            }
            div.main-desc{
                padding-top: 3em;
                p{
                    font-size: 16px;
                    text-transform: uppercase;
                }
            }

            div.main-cta{
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding-top: 5em;
                gap: 1em;
                div.btn1{
                    a{
                        padding: 1em;
                        border-radius: 5px;
                        background: $yellow;
                        width: 100%;
                        display: inline-block;
                        font-weight: bold;
                        text-transform: uppercase;
                        color: $black;
                        text-decoration: none;
                    }
                }
                div.btn2{
                    a{
                        padding: 1em;
                        border-radius: 5px;
                        border: 2px solid #ffffff;
                        width: 100%;
                        display: inline-block;
                        font-weight: bold;
                        text-transform: uppercase;
                        color: $white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

// Brand Content
div.brand-wrapper{
    background: $black-bg;
    section.brand-container{
        padding: 4em 1em;
        div.main-header{
            h1{
                color: $white;
             
                text-transform: uppercase;
            }
        }
        div.main-desc{
            p{
                color: $white;
         
                text-transform: uppercase;
            }
        }

        //Box Brand
        div.box-container{
            padding-top: 4em;
            div.box-brand{
                cursor: pointer;
                margin-bottom: 2em;
                img{
                    width: 100%;
                }
            }
        }

        // Patch Brand
        div.patch-container{
            padding-top: 4em;
            div.patch-brand{
                background: $black;
                margin-bottom: 2em;
                img{
                    width: 100%;
                }
                div.patch-desc{
                    padding: 1em;
                    color: $white;
                    h1{
                        font-size: 24px;
                    }
                }
                div.patch-btn{
                    padding: 1em;
                   
                    button.addcart-btn{
                        cursor: pointer;
                        background: $yellow;
                        color: $black;
                        padding: 1.4em;
                        border: none;
                        text-transform: uppercase;
                        font-weight: bold;
                        border-radius: 6px;
                    }
                    button.addcart-btn:hover{
                        background: #b49d36;
                        transition: .6s;
                    }
                }
            }
        }
    }
}

// Apparel Section
div.apparel-wrapper{
    background: $black-bg;
    section.apparel-container{
        padding: 4em 1em;
        color: $white;
        div.apparel-brand{
            padding-top: 4em;
            div.apparel-img{
                img{
                    width: 100%;
                }
            }
            div.apparel-desc{
                margin-bottom: 3em;
                p{
                    font-size: 14px;
                }
            }
            div.size-selection{
                padding: 1em;
                background: $yellow;
                color: $black;
                font-weight: bold;
                label{
                    font-size: 14px;
                }
                select.drop-select{
                    font-family: $font;
                    width: 40%;
                    padding: .7em;
                }
                button.buy-btn{
                    border: #000000 1px solid;
                    padding: .7em;
                    border-radius: 6px;
                    background: $orange;
                    font-family: $font;
                    width: 20%;
                    color: $white;
                    cursor: pointer;
             
                }
                button.buy-btn:hover{
                    background: #c73a02;
                    transition: .6s;
                }
            }
        }
    }
}

//Game components Section
div.components-wrapper{
    background: $black-bg;
    section.components-container{
        padding: 0 1em 6em;

        color: $white;
        div.box-components{
            margin-top: 4em;
            background: $black;
            padding: 2em;
            div.head-components{
                text-align: center;
                h1{
                    font-size: 22px;
                }
            }
            div.components-img{
                margin-top: 1em;
                img{
                    width: 100%;
                }
            }
            div.components-desc{
                margin-top: 1em;
            }
            div.view{
                padding-top: 2em;
                button.btn-view{
                    cursor: pointer;
                    font-weight: bold;
                    font-size: 18px;
                    background: $red;
                    color: $white;
                    border: none;
                    padding: 1em;
                    width: 100%;
                }
                button.btn-view:hover{
                    background: #c01e05;
                    transition: .7s;
                }
            }

        }
    }
}





@media only screen and (min-width: 768px){
    div.nav-wrapper{
        nav.nav-container{
            div.navbar-toggle{
                span.bar{
                    display: none;
                }
            }

            ul.nav-li{
                transform: none;
                position: fixed;
                display: flex;
                justify-content: right;
                padding: 0;
                right: 0;

                li{
                  padding: 0 1em;
                    
                  background: none;
                }
            }
        }
    }
}