@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Oswald", sans-serif;
}

nav.nav-container {
  padding: 1em 1em;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1;
  line-height: 60px;
  background: rgba(0, 0, 0, 0.7);
}
nav.nav-container ul.nav-li {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  padding-top: 5.7em;
  transform: translateY(-100%);
  transition: 1s;
}
nav.nav-container ul.nav-li li {
  text-align: center;
  line-height: 100px;
  background: rgba(0, 0, 0, 0.7);
  list-style: none;
}
nav.nav-container ul.nav-li li a {
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
}
nav.nav-container ul.nav-li li:hover {
  background: #FF4800;
  transition: 1s;
}
nav.nav-container div.navbar-toggle {
  display: grid !important;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  cursor: pointer;
  margin: auto 0;
}
nav.nav-container div.navbar-toggle span.bar {
  border-radius: 20%;
  margin-bottom: 5px;
  background: #ffffff;
  width: 30px;
  height: 5px;
  transition: 0.6s;
}
nav.nav-container ul.nav-li.open {
  transform: translateY(0);
}
nav.nav-container div.navbar-toggle.active .bar:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
  transition: 0.6s;
}
nav.nav-container div.navbar-toggle.active .bar:nth-child(2) {
  display: none;
  transition: 0.6s;
}
nav.nav-container div.navbar-toggle.active .bar:nth-child(3) {
  transform: rotate(-45deg);
  transition: 0.6s;
}

div.hero-wrapper {
  width: 100%;
}
div.hero-wrapper section.hero-container {
  padding: 12em 1em;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.404) 50%, rgba(0, 0, 0, 0.26) 90%), url(/src/img/hero-img.jpg);
  background-repeat: no-repeat;
  height: 800px;
  background-size: cover;
}
div.hero-wrapper section.hero-container div.left-content {
  text-align: center;
  color: #ffffff;
}
div.hero-wrapper section.hero-container div.left-content div.main-header h1 {
  font-size: 46px;
  text-transform: uppercase;
}
div.hero-wrapper section.hero-container div.left-content div.main-desc {
  padding-top: 3em;
}
div.hero-wrapper section.hero-container div.left-content div.main-desc p {
  font-size: 16px;
  text-transform: uppercase;
}
div.hero-wrapper section.hero-container div.left-content div.main-cta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 5em;
  gap: 1em;
}
div.hero-wrapper section.hero-container div.left-content div.main-cta div.btn1 a {
  padding: 1em;
  border-radius: 5px;
  background: #EACA41;
  width: 100%;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  color: #121212;
  text-decoration: none;
}
div.hero-wrapper section.hero-container div.left-content div.main-cta div.btn1 a:hover {
  background: #97842e;
  transition: 0.7s;
}
div.hero-wrapper section.hero-container div.left-content div.main-cta div.btn2 a {
  padding: 1em;
  border-radius: 5px;
  border: 2px solid #ffffff;
  width: 100%;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}
div.hero-wrapper section.hero-container div.left-content div.main-cta div.btn2 a:hover {
  background: #c73a02;
  transition: 0.7s;
}

div.brand-wrapper {
  background: #000000;
}
div.brand-wrapper section.brand-container {
  padding: 4em 1em;
}
div.brand-wrapper section.brand-container div.main-header h1 {
  color: #ffffff;
  text-transform: uppercase;
}
div.brand-wrapper section.brand-container div.main-desc p {
  color: #ffffff;
  text-transform: uppercase;
}
div.brand-wrapper section.brand-container div.box-container {
  padding-top: 4em;
}
div.brand-wrapper section.brand-container div.box-container div.box-brand {
  cursor: pointer;
  margin-bottom: 2em;
}
div.brand-wrapper section.brand-container div.box-container div.box-brand img {
  width: 100%;
}
div.brand-wrapper section.brand-container div.patch-container div.patch-brand {
  background: #121212;
  margin-bottom: 2em;
}
div.brand-wrapper section.brand-container div.patch-container div.patch-brand img {
  width: 100%;
}
div.brand-wrapper section.brand-container div.patch-container div.patch-brand div.patch-desc {
  padding: 1em;
  color: #ffffff;
}
div.brand-wrapper section.brand-container div.patch-container div.patch-brand div.patch-desc h1 {
  font-size: 24px;
}
div.brand-wrapper section.brand-container div.patch-container div.patch-brand div.patch-btn {
  padding: 1em;
}
div.brand-wrapper section.brand-container div.patch-container div.patch-brand div.patch-btn button.addcart-btn {
  cursor: pointer;
  background: #EACA41;
  color: #121212;
  padding: 1.4em;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 6px;
}
div.brand-wrapper section.brand-container div.patch-container div.patch-brand div.patch-btn button.addcart-btn:hover {
  background: #97842e;
  transition: 0.7s;
}

div.apparel-wrapper {
  background: #000000;
}
div.apparel-wrapper section.apparel-container {
  padding: 1em 1em;
  color: #ffffff;
}
div.apparel-wrapper section.apparel-container div.apparel-brand {
  padding-top: 4em;
}
div.apparel-wrapper section.apparel-container div.apparel-brand div.apparel-img img {
  width: 100%;
}
div.apparel-wrapper section.apparel-container div.apparel-brand div.apparel-desc {
  margin-bottom: 3em;
}
div.apparel-wrapper section.apparel-container div.apparel-brand div.apparel-desc p {
  font-size: 14px;
}
div.apparel-wrapper section.apparel-container div.apparel-brand div.size-selection {
  padding: 1em;
  background: #EACA41;
  color: #121212;
  font-weight: bold;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 0.6em;
}
div.apparel-wrapper section.apparel-container div.apparel-brand div.size-selection label {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin: 0 auto;
}
div.apparel-wrapper section.apparel-container div.apparel-brand div.size-selection select.drop-select {
  font-family: "Oswald", sans-serif;
  width: 100%;
  text-align: center;
  padding: 0.7em;
}
div.apparel-wrapper section.apparel-container div.apparel-brand div.size-selection button.buy-btn {
  border: #000000 1px solid;
  padding: 0.7em;
  border-radius: 6px;
  background: #FF4800;
  font-family: "Oswald", sans-serif;
  width: 100%;
  color: #ffffff;
  cursor: pointer;
}
div.apparel-wrapper section.apparel-container div.apparel-brand div.size-selection button.buy-btn:hover {
  background: #c73a02;
  transition: 0.7s;
}

div.components-wrapper {
  background: #000000;
}
div.components-wrapper section.components-container {
  padding: 4em 1em 6em;
  color: #ffffff;
}
div.components-wrapper section.components-container div.box-components {
  margin-top: 4em;
  background: #121212;
  padding: 2em;
}
div.components-wrapper section.components-container div.box-components div.head-components {
  text-align: center;
}
div.components-wrapper section.components-container div.box-components div.head-components h1 {
  font-size: 22px;
  color: #ffffff;
}
div.components-wrapper section.components-container div.box-components div.components-img {
  margin-top: 1em;
}
div.components-wrapper section.components-container div.box-components div.components-img img {
  width: 100%;
}
div.components-wrapper section.components-container div.box-components div.components-desc {
  margin-top: 1em;
}
div.components-wrapper section.components-container div.box-components div.view {
  padding-top: 2em;
}
div.components-wrapper section.components-container div.box-components div.view button.btn-view {
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  background: #FF2200;
  color: #ffffff;
  border: none;
  padding: 1em;
  width: 100%;
}
div.components-wrapper section.components-container div.box-components div.view button.btn-view:hover {
  background: #c01e05;
  transition: 0.7s;
}

div.game-wrapper {
  background: #d9d9d9;
}
div.game-wrapper section.game-container {
  padding: 1em;
}
div.game-wrapper section.game-container div.main-header div.sub-head {
  font-size: 18px;
  background: #000000;
  padding: 0.7em;
  color: #FF4800;
}
div.game-wrapper section.game-container div.main-desc h1 {
  font-size: 24px;
  color: #121212;
}
div.game-wrapper section.game-container div.thebasics-container {
  padding-top: 3em;
}
div.game-wrapper section.game-container div.right-content {
  grid-area: thebasics;
}
div.game-wrapper section.game-container div.right-content div.game-text {
  padding-top: 3em;
}
div.game-wrapper section.game-container div.right-content div.game-text p {
  font-size: 14px;
  color: #121212;
}
div.game-wrapper section.game-container div.right-content div.game-desc {
  padding-top: 1em;
}
div.game-wrapper section.game-container div.right-content div.game-desc p {
  font-size: 14px;
  color: #121212;
}

div.operation-wrapper {
  background: #d9d9d9;
}
div.operation-wrapper section.operation-container {
  padding: 0 1em 4em;
}
div.operation-wrapper section.operation-container div.left-content {
  padding-top: 2em;
}
div.operation-wrapper section.operation-container div.left-content div.main-header div.sub-head {
  font-size: 18px;
  background: #000000;
  padding: 0.7em;
  color: #FF4800;
}
div.operation-wrapper section.operation-container div.left-content div.main-header div.sub-head h1 {
  color: #FF4800;
}
div.operation-wrapper section.operation-container div.left-content div.operational-desc {
  padding-top: 2em;
}
div.operation-wrapper section.operation-container div.left-content div.operational-desc p {
  font-size: 14px;
}
div.operation-wrapper section.operation-container div.left-content div.red-notice {
  margin-top: 2em;
  padding: 0.7em;
  background: #FF2200;
}
div.operation-wrapper section.operation-container div.left-content div.red-notice p {
  font-weight: bold;
  font-size: 16px;
}
div.operation-wrapper section.operation-container div.right-content {
  padding-top: 2em;
}
div.operation-wrapper section.operation-container div.right-content div.card-operational {
  padding: 0.7em;
  margin-bottom: 1.4em;
  color: #ffffff;
  background: #000000;
  border-top: #FF4800 solid 10px;
}
div.operation-wrapper section.operation-container div.right-content div.card-operational div.head-op h1 {
  color: #FF4800;
}
div.operation-wrapper section.operation-container div.right-content div.card-operational div.op-desc1 {
  padding-top: 1em;
}
div.operation-wrapper section.operation-container div.right-content div.card-operational div.op-desc1 h5 {
  color: #FF4800;
  margin-bottom: 0.7em;
}
div.operation-wrapper section.operation-container div.right-content div.card-operational div.op-desc1 p {
  font-size: 14px;
}
div.operation-wrapper section.operation-container div.right-content div.card-operational div.op-desc2 {
  padding-top: 2em;
}
div.operation-wrapper section.operation-container div.right-content div.card-operational div.op-desc2 h5 {
  color: #FF4800;
  margin-bottom: 0.7em;
}
div.operation-wrapper section.operation-container div.right-content div.card-operational div.op-desc2 p {
  font-size: 14px;
}

div.footer-wrapper {
  background: #000000;
}
div.footer-wrapper footer.footer-container {
  color: #ffffff;
  padding: 4em 1em;
}
div.footer-wrapper footer.footer-container div.left-foot {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
div.footer-wrapper footer.footer-container div.left-foot div.merch-li {
  padding-top: 1em;
  line-height: 3em;
}
div.footer-wrapper footer.footer-container div.left-foot div.merch-li h1 {
  font-size: 20px;
}
div.footer-wrapper footer.footer-container div.left-foot div.merch-li ul li {
  list-style: none;
}
div.footer-wrapper footer.footer-container div.left-foot div.merch-li ul li a {
  text-decoration: none;
  color: #ffffff;
}
div.footer-wrapper footer.footer-container div.right-foot {
  padding-top: 4em;
}
div.footer-wrapper footer.footer-container div.right-foot ul {
  display: flex;
}
div.footer-wrapper footer.footer-container div.right-foot ul li {
  margin: 0 auto;
  list-style: none;
}
div.footer-wrapper footer.footer-container div.right-foot ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
}
div.footer-wrapper footer.footer-container div.social-container {
  display: flex;
  padding: 4em 3em;
}
div.footer-wrapper footer.footer-container div.social-container i {
  font-size: 1.7em;
}
div.footer-wrapper footer.footer-container div.social-container a {
  margin: 0 auto;
  text-decoration: none;
  list-style: none;
  color: #ffffff;
}
div.footer-wrapper footer.footer-container div.copy-section {
  padding-top: 2em;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  div.nav-wrapper nav.nav-container div.navbar-toggle span.bar {
    display: none;
  }
  div.nav-wrapper nav.nav-container ul.nav-li {
    transform: none;
    position: fixed;
    display: flex;
    justify-content: right;
    padding: 0;
    right: 0;
  }
  div.nav-wrapper nav.nav-container ul.nav-li li {
    padding: 0 1em;
    background: none;
  }
  div.hero-wrapper section.hero-container div.left-content {
    padding: 0 4em;
  }
  div.hero-wrapper section.hero-container div.left-content div.main-header h1 {
    font-size: 52px;
  }
  div.hero-wrapper section.hero-container div.left-content div.main-desc p {
    font-size: 16px;
  }
  div.hero-wrapper section.hero-container div.left-content div.main-cta div.btn1 a {
    padding: 1.3em;
  }
  div.hero-wrapper section.hero-container div.left-content div.main-cta div.btn2 a {
    padding: 1.3em;
  }
  div.brand-wrapper section.brand-container div.box-container {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
  }
  div.brand-wrapper section.brand-container div.patch-container {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
  }
  div.brand-wrapper section.brand-container div.patch-container div.patch-brand div.patch-desc p {
    font-size: 13px;
  }
  div.brand-wrapper section.brand-container div.patch-container div.patch-brand div.patch-desc h1 {
    font-size: 18px;
  }
  div.brand-wrapper section.brand-container div.patch-container div.patch-brand div.patch-desc p.price {
    margin-top: 1em;
    font-size: 16px;
  }
  div.brand-wrapper section.brand-container div.patch-container div.patch-brand div.patch-btn button.addcart-btn {
    width: 100%;
    font-size: 15px;
  }
  div.apparel-wrapper section.apparel-container div.brand-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
  div.components-wrapper section.components-container div.boxcomponents-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
  div.game-wrapper {
    background: #d9d9d9;
  }
  div.game-wrapper section.game-container {
    padding: 1em;
  }
  div.game-wrapper section.game-container div.thebasics-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    grid-template-areas: "img thebasics";
  }
  div.game-wrapper section.game-container div.right-content {
    grid-area: thebasics;
  }
  div.game-wrapper section.game-container div.left-content {
    grid-area: img;
    background: url(/src/img/the-basics.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  div.operation-wrapper section.operation-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
  div.footer-wrapper footer.footer-container div.left-foot {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 826px) {
  div.hero-wrapper section.hero-container div.main-cta {
    width: 500px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1200px) {
  div.nav-wrapper nav.nav-container {
    padding: 1em 60px;
  }
  div.nav-wrapper nav.nav-container ul.nav-li {
    padding: 0 60px;
  }
  div.hero-wrapper section.hero-container {
    margin: 0 auto;
    padding: 14em 60px;
  }
  div.hero-wrapper section.hero-container div.left-content {
    margin: 0 auto;
    width: 1200px;
  }
  div.hero-wrapper section.hero-container div.left-content div.main-header h1 {
    font-size: 62px;
  }
  div.hero-wrapper section.hero-container div.left-content div.main-desc p {
    font-size: 16px;
  }
  div.brand-wrapper section.brand-container {
    margin: 0 auto;
    padding: 4em 60px;
  }
  div.brand-wrapper section.brand-container div.main-header h1 {
    font-size: 32px;
  }
  div.brand-wrapper section.brand-container div.main-desc p {
    font-size: 20px;
  }
  div.brand-wrapper section.brand-container div.patch-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  div.apparel-wrapper section.apparel-container {
    margin: 0 auto;
    padding: 4em 60px;
  }
  div.apparel-wrapper section.apparel-container div.main-header h1 {
    font-size: 32px;
  }
  div.apparel-wrapper section.apparel-container div.main-desc p {
    font-size: 20px;
  }
  div.apparel-wrapper div.brand-container div.apparel-brand div.apparel-desc h1 {
    font-size: 30px;
  }
  div.apparel-wrapper div.brand-container div.apparel-brand div.apparel-desc p {
    font-size: 16px;
  }
  div.apparel-wrapper div.brand-container div.apparel-brand div.size-selection label {
    font-size: 18px;
  }
  div.apparel-wrapper div.brand-container div.apparel-brand select {
    font-size: 18px;
  }
  div.apparel-wrapper div.brand-container div.apparel-brand button.buy-btn {
    font-size: 18px;
  }
  div.components-wrapper section.components-container {
    margin: 0 auto;
    padding: 4em 60px;
  }
  div.components-wrapper section.components-container div.main-header h1 {
    font-size: 32px;
  }
  div.components-wrapper section.components-container div.main-desc p {
    font-size: 20px;
  }
  div.components-wrapper section.components-container div.boxcomponents-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  div.components-wrapper section.components-container div.boxcomponents-container div.box-components div.head-components h1 {
    font-size: 17px;
  }
  div.components-wrapper section.components-container div.boxcomponents-container div.box-components div.components-desc p {
    font-size: 14px;
  }
  div.game-wrapper section.game-container {
    margin: 0 auto;
    padding: 4em 60px;
  }
  div.game-wrapper section.game-container div.thebasics-container div.right-content div.main-header h3 {
    font-size: 24px;
  }
  div.game-wrapper section.game-container div.thebasics-container div.right-content div.main-header div.sub-head {
    padding: 0.3em;
  }
  div.game-wrapper section.game-container div.thebasics-container div.right-content div.main-header h1 {
    font-size: 48px;
  }
  div.game-wrapper section.game-container div.thebasics-container div.right-content div.main-desc h1 {
    font-size: 42px;
  }
  div.game-wrapper section.game-container div.thebasics-container div.right-content div.game-text p {
    font-size: 18px;
  }
  div.game-wrapper section.game-container div.thebasics-container div.right-content div.game-desc {
    padding-top: 3em;
  }
  div.game-wrapper section.game-container div.thebasics-container div.right-content div.game-desc p {
    font-size: 18px;
  }
  div.operation-wrapper section.operation-container {
    margin: 0 auto;
    padding: 4em 60px;
  }
  div.operation-wrapper section.operation-container div.left-content div.main-header h3 {
    font-size: 24px;
  }
  div.operation-wrapper section.operation-container div.left-content div.main-header div.sub-head {
    padding: 0.3em;
  }
  div.operation-wrapper section.operation-container div.left-content div.main-header h1 {
    font-size: 48px;
  }
  div.operation-wrapper section.operation-container div.left-content div.operational-desc p {
    font-size: 18px;
  }
  div.operation-wrapper section.operation-container div.left-content div.red-notice p {
    font-size: 20px;
  }
  div.operation-wrapper section.operation-container div.right-content div.card-operational div.head-op h1 {
    font-size: 27px;
  }
  div.operation-wrapper section.operation-container div.right-content div.card-operational div.op-desc1 h5 {
    font-size: 20px;
  }
  div.operation-wrapper section.operation-container div.right-content div.card-operational div.op-desc1 p {
    font-size: 16px;
  }
  div.footer-wrapper footer.footer-container {
    padding: 4em 60px;
  }
  div.footer-wrapper footer.footer-container div.foot1-container {
    display: grid;
    grid-template-columns: "brand support";
  }
  div.footer-wrapper footer.footer-container div.foot1-container div.left-foot {
    grid-area: support;
  }
}/*# sourceMappingURL=style.css.map */